@model BoxService.Models.GroupedAdminViewModel
@{
    ViewBag.Title = "Admin";
}

@if (ViewBag.isAdmin == "Yes")
{
    <h2>Welcome, <strong>@ViewBag.Name</strong>.</h2>
    <h3>You're an administrator.</h3>
    <h4>Total Customers: @Model.Users.Count</h4>
    <h4>Total Sales: $@Model.TotalSales</h4>
    foreach (var user in Model.Users)
    {
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <strong>@user.UserName :</strong>
                </dt>
                <dd> @user.BoxName </dd>
                <dd> Dues: @user.InvoiceBox.Price </dd>
                <dt></dt>
            </dl>
        </div>
    }
    <p>
        @Html.ActionLink("View your Profile", "UserProfile", "Users")
    </p>    
    <p>
        @Html.ActionLink("Manage Roles", "Index", "Role")
    </p>
}
else
{
    <h2>  Hi <strong>@ViewBag.Name</strong></h2>
    <h4>Sorry, You can't view this page. View your @Html.ActionLink("Profile", "UserProfile", "Users")</h4>
}
