@model BoxService.Models.GroupedAdminViewModel
@{
    ViewBag.Title = "Users Index";
}

@if (ViewBag.isAdmin == "Yes")
{
    <h1>Welcome Admin <strong>@ViewBag.Name</strong></h1>
    <p>
        @Html.ActionLink("Manage Roles", "Index", "Role")
    </p>
    <p>@Html.ActionLink("View the Admin Profile", "Admin", "Users")</p>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong>.</h2>
    <h4>Check out your: @Html.ActionLink("Profile", "UserProfile", "Users")</h4>
}
