@model BoxService.Models.ApplicationUser

@{
    ViewBag.Title = "SuggestBox";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Here are some suggested boxes, based on your Flavor Profile:</h4>
        <hr />
        @Html.ValidationSummary(true)
            
            @Html.HiddenFor(model => model.FoodBoxID)

        <div class="form-group">
            @Html.Label("Check out the suggested Boxes:", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("UserBox", (SelectList)ViewBag.SuggestedBoxes, " ")
                @Html.ValidationMessageFor(model => model.UserBox, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.PasswordHash)
        @Html.HiddenFor(model => model.Likes)
        @Html.HiddenFor(model => model.Dislikes)
        @Html.HiddenFor(model => model.SecurityStamp)
        @Html.HiddenFor(model => model.PhoneNumber)
        @Html.HiddenFor(model => model.LockoutEnabled)
        @Html.HiddenFor(model => model.UserName)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Profile", "UserProfile")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
